@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--accent: #804d72;
	--highlight: #8bbf9f;
	--accent-dark: #59344f;
	--black: #0d1821;
	--red: #d72638;
} */

@font-face {
	font-family: "Asul";
	font-weight: 1 999;
	src: url("https://cdn.eiramknitwear.com/fonts/Asul/Asul-Regular.ttf");
}

@font-face {
	font-family: "Actor";
	font-weight: 1 999;
	src: url("https://cdn.eiramknitwear.com/fonts/Actor/Actor-Regular.ttf");
}

@font-face {
	font-family: "Karla";
	font-weight: 1 999;
	src: url("https://cdn.eiramknitwear.com/fonts/Karla/static/Karla-Regular.ttf");
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: var(--accent);
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--accent);
	transform-origin: bottom right;
	transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#video-container {
	background-image: var(--fallbackImage);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wp-container .video-content {
	display: flex;
	justify-content: center;
}

.wp-container h2 {
	margin-top: 1rem;
	line-height: 2rem;
	font-size: 1.5rem;
}

.wp-container p {
	margin-top: 2rem;
	line-height: 2rem;
	font-size: 1rem;
}

.wp-container ul {
	margin-top: 1rem;
	list-style-type: disc;
	list-style-position: inside;
}

.wp-container a {
	text-decoration-line: underline;
	color: var(--accent);
}

.wp-container table {
	min-width: 100%;
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
	--tw-divide-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}

.wp-container table thead {
	--tw-bg-opacity: 1;
	background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.wp-container thead th {
	padding-top: 0.875rem /* 14px */;
	padding-bottom: 0.875rem /* 14px */;
	padding-left: 1rem /* 16px */;
	padding-right: 0.75rem /* 12px */;
	text-align: left;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	font-weight: 600;
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity));
}

.wp-container table tbody {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
	--tw-divide-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.wp-container table tbody td {
	white-space: nowrap;
	padding-top: 1rem /* 16px */;
	padding-bottom: 1rem /* 16px */;
	padding-left: 1rem /* 16px */;
	padding-right: 0.75rem /* 12px */;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
	--tw-divide-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.wp-container .wp-block-columns {
	flex-wrap: nowrap;
	justify-content: space-between;
}

/* small-screens */
@media (min-width: 640px) {
	.wp-container .wp-block-columns {
		display: block;
	}
	.wp-container .wp-block-column {
		width: 100%;
	}
}

/* medium-screens */
@media (min-width: 768px) {
	.wp-container .wp-block-columns {
		display: flex;
		align-items: center;
	}
	.wp-container .wp-block-column {
		width: calc(50% - (0.5 * 50px));
	}
}

/* large-screens */
@media (min-width: 1024px) {
	.wp-container .wp-block-columns {
		display: flex;
	}
}
